.wrapper{
    width: 250px;
    height: 280px;
    border: 5px solid black;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}


.list{
    list-style-type: none;
    font-weight: 600;
    margin: 0;
    margin-top: 15px;
}

.avt{
 margin-top: 10px;
 border-radius: 50px;
 width: 100px;
 height: 100px;

}

.btn{

    border: 8px ;
    border-radius: 10px;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    margin-top: 10px;
    
}


.btn:hover {
    transition-duration: 0.1s;
    background-color: #2256db;
    border-radius: 10px;
}
.btn:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
 